*{
    box-sizing: border-box;
    font-family: '', sans-serif;
}

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
}
.h1Style{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: whitesmoke;
}
        /*-------------Seccion Header ---------------*/
#header {
    background-color: lightgreen;
    height: 100px;
}
.art-head{
    width: 30%;
    height: 100px;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.art-logo{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.list-art{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.art-buscador{
    height: 100px;
    width: 40%;
    align-items: center;
    display:flex;
    background-color: lightgreen;
}
.header-sec{
    height: 100px;
    width: 100%;
    display: flex;
}
/*pONER URL DE LUPA (NO FUNCIONA)*/
#btnBusqueda{
    height: 30px;
    background-image: url(); 
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
#busquedaForm{
    justify-content: center;
    width: 350px;
    height: 35px;
}
#buscar{
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.navHeader{
    display: flex;
    justify-content: space-around;
}
.artNav {
    align-items: center;
    display:flex;
    width: 30%;
}
.navItems{
    width: 100%;
}
.navHeaderBtn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;

}
ul,li{
    list-style-type: none;
}
.nav-items{
    width: 75%;
    justify-content: space-around;
}

/*FOOTER (EDITAR FONT Y COLORES)*/

.footer {
    display: flex;
    height: 16vh;
    background-color: lightgreen
}
 .footerUl{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 92%;
        color: black;
        font-weight: bolder;
 }

       /*-------------Seccion Body ---------------*/
.h2Style{
    background-color: whitesmoke;
}
#sec-cancion{
    background-color: whitesmoke;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: whitesmoke;
  height: 400px;
  justify-content: space-evenly;

}

.containerAlbum {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: whitesmoke;
    height: 400px;
    justify-content: space-evenly;
}

.containerArtistas {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: whitesmoke;
    height: 400px;
    justify-content: space-evenly;
}

.card {
  display: flex;
  margin: 10px;
  background-color: aqua;
  border-radius: 10px;
  width: 300px;
  flex-direction: column;
}

.card-header{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    
}

.card-header img {
    height: 250px;
    object-fit: contain;
    border-radius: 20px;
    justify-content: flex-start;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 50px;
  padding-left: 30px;
}
#sec-album{
    background-color: aqua;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
}























@media (max-width:768px){

}

@media (max-width:420px){

}