#header {
    background-color: aqua;
    height: 100px;
}
body{
    background-color: blueviolet;
}
.art-head{
    width: 20%;
    height: 100px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.art-logo{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
#footer {
    background-color: blue;
    height: 100px;
    margin-bottom: 0px;
    align-items: center;
    text-align: center;
}
.list-art{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.art-buscador{
    height: 100px;
    width: 50%;
    align-items: center;
    display:flex;
    background-color: brown;
}
.header-sec{
    height: 15vh;
    display: flex;

}
.button-art{
    background-color: white;
    height: 37px;

}
.form-result{
    width: 200%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#buscar{
    width: 70%;
}
.flex-r {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.art-nav {
    width: 30%;
    align-items: center;
    display:flex;
}
.nav-items ul{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-items{
    width: 75%;
}

#sec-cancion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.song{
    width: 380px;
    padding: 50px;
    margin: 100px;
}

article .song img{
    width: 100%;
}

